---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";

const allPosts = Object.values(
 import.meta.glob("./posts/*.md", { eager: true })
);

const pageTitle = "My Astro Learning Blog";
---

<BaseLayout pageTitle={pageTitle}>
 <h2>This is my bloggity blog.</h2>

 <p>
  My journey learning Astro has been fabulous! Here are some of my recent posts:
 </p>
 <ul>
  {
   allPosts.map((post: any) => 
    <BlogPost url={post.url} title={post.frontmatter.title} />
   )
  }
 </ul>
</BaseLayout>
